@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#toggle-cb {
  display: none;
}

#toggle {
  position: relative;
  width: 100px;
  height: 50px;
  background-color: #ddd;
  border-radius: 25px;
  cursor: pointer;
}

#toggle-slider {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 35px;
  height: 35px;
  background-color: #555;
  margin: 0 5px;
  border-radius: 50%;
  transition: 0.5s left;
}
