@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
}

#container {
  position: relative;
  width: 80px;
  height: 30px;
  background-color: #cccccc;
  border: none;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

#circle {
  position: absolute;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #555555;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#container1 {
  position: relative;
  width: 80px;
  height: 5px;
  background-color: #cccccc;
  border: none;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  margin: 20px;
}

#circle1 {
  position: absolute;
  left: 0;
  transform: translateY(-45%);
  width: 30px;
  height: 30px;
  background-color: #555555;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}