@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  color: #000100;
  background: url("./images/hcj.png") no-repeat left center;
  border: 5px solid #000100;
  padding: 20px 0;
}

.container a {
  color: #273636;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.works a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00ff9d;
  margin: 10px;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s transform;
}

.work:hover {
  transform: scale(1.02);
}

.image {
  width: 350px;
  height: 180px;
}

.more {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #000;
  background-color: #00ff9d;
  text-decoration: none;
  padding: 7px 15px;
}

@media (max-width: 431px) {
  .container {
    font-size: xx-small;
    background: url("./images/hcj.png") no-repeat center;
  }

  .project-image {
    width: 250px;
    height: 120px;
  }
}

@media (max-width: 400px) {
  .work {
    margin: 10px 0;
  }
}

@media (max-width: 360px) {
  .works {
    padding: 0;
  }

  .works a {
    font-size: 0.8em;
    letter-spacing: 0;
  }

  .image {
    width: 200px;
    height: 100px;
  }
}
