@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
  flex-direction: column;
  min-height: 100vh;
}

#keys-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keys-container-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  color: #fff;
  width: 7rem;
  margin: 0.7rem;
  padding: 1rem 0.5rem;
  border: 0.25rem solid #aaa;
  font-size: 1.2rem;
  text-align: center;
  transition: 0.2s all ease;
  box-shadow: none;
}

.letter {
  display: block;
}

.sound {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

.playing {
  transform: scale(1.1);
  border: 0.25rem solid #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

#recording-container {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
}

#small-container {
  color: #fff;
  font-size: 25px;
  margin: 0 7px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1500px) {
  #main-container {
    display: none;
  }

  #small-container {
    display: inherit;
  }
}