@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  background-color: #3e3e3e;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#choice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 150px;
  color: #fff;
  margin-bottom: 20px;
}

#input-container td {
  padding: 10px;
}

label {
  margin-right: 10px;
}

#guessed-number-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #069;
  padding: 3rem;
  text-align: center;
}

input {
  width: 100px;
  text-align: center;
  outline: none;
}

#your-turn-text,
#go {
  display: none;
}

#user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #07a;
  width: 100%;
  padding: 2rem 0;
  display: none;
}

#user-container > h4 {
  margin: 20px 0;
  text-align: center;
}

#user-number-input {
  width: 50%;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}

#chances,
#chances-left {
  font-weight: bold;
  text-decoration: underline;
}

#chances-left {
  background-color: #2e2e2e;
  padding: 2px 5px;
}

.button {
  color: #fff;
  background-color: transparent;
  padding: 5px 20px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #1e1e1e;
}

#go {
  margin-top: 20px;
}

#submit-button {
  margin-top: 30px;
}

#previous-guesses-para {
  margin-top: 10px;
}

#hint {
  padding: 5px 10px;
  margin-top: 10px;
}

#start-over {
  display: none;
  margin-top: 20px;
}

#written-by-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 30px;
}

#written-by-container a {
  color: #fff;
}

@media (max-width: 900px) {
  body {
    margin: 30px;
  }

  h1 {
    font-size: 20px;
  }

  #user-container {
    padding: 15px 30px;
  }

  #guessed-number-container {
    padding: 30px 20px;
  }

  #guessed-number-container,
  #user-container {
    width: 450px;
  }

  #thought-of-text {
    margin-bottom: 20px;
  }

  #written-by-container {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  #guessed-number-container,
  #user-container {
    width: 320px;
  }

  #written-by-container {
    font-size: 11px;
  }
}
