@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3e3e3e;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  color: #fff;
  background-color: #1e1e1e;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 3rem;
}

#password-input {
  width: 300px;
  height: 50px;
  text-align: center;
  margin: 20px 0;
  padding: 0 10px;
  outline: none;
}

#password-constraint-container {
  display: grid;
  place-items: center;
}

.constraints {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.correct,
.wrong {
  margin-left: 5px;
}

.wrong {
  display: none;
}

#password-strength-container {
  margin-top: 10px;
}

#password-strength-meter {
  width: 200px;
}

#password-strength-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#password-strength-container p {
  margin-top: 10px;
}

#written-by-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 5px;
  color: #fff;
}

#written-by-container a {
  color: #fff;
}
