#menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #1e1e1e;
  padding: 15px;
}

#menu li a {
  color: rgb(255, 196, 0);
  font-weight: bold;
  text-decoration: none;
}

#menu li a:hover {
  background-color: rgb(255, 196, 0);
  color: #1e1e1e;
  box-shadow: 5px 10px 38px #777676;
  padding: 5px;
}
