body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  animation: rotate linear 1.2s infinite;
}

@keyframes rotate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.5);
  }
}
