@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(160deg, #000000 1%, #00ffe1 100%);
}

main {
  background-color: #eeee2a;
  padding: 100px;
  border-radius: 10px;
}

#input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #fff;
  min-width: 350px;
  margin: 15px;
  padding: 10px;
  border: none;
  outline: none;
  transition: 0.5s;
}

input:focus {
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

#add {
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #fff;
  background-color: #348ee2;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;
}

#list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#list {
  list-style: none;
  width: 100%;
}

#list li {
  color: #fff;
  background-color: #9d9d9d;
  width: 350px;
  min-height: 40px;
  word-break: break-all;
  margin: 5px 0 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

#list div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  color: #0f0;
  background-color: #fff;
  font-size: 25px;
  padding: 8px;
  cursor: pointer;
  transition: 0.1s all;
}

.delete {
  color: #f00;
  background-color: #fff;
  font-size: 25px;
  padding: 8px;
  cursor: pointer;
  transition: 0.1s all;
}

#remaining-tasks-container {
  margin-bottom: 10px;
}

#button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.button {
  color: #fff;
  background-color: #348ee2;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;
}

.button:active,
#add:active,
.edit:active,
.delete:active {
  transform: scale(0.9);
}

.button:disabled,
#add:disabled {
  background-color: #507ea8;
  cursor: auto;
}
