form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#username {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
}

input::placeholder {
  color: #aaa;
}
