@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

#about-us {
  color: #ccc;
  background-color: #3e3e3e;
  min-height: calc(100vh - 54px - 92px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
}

#about-us a {
  color: #fff;
  font-weight: bold;
}

#about-us p {
  text-align: center;
  margin: 0 100px;
}
