@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

main h1 {
  color: #efefef;
}

#table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: #fff;
  min-width: 300px;
  margin: 15px 5px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  text-align: center;
  outline: none;
  transition: 0.5s;
  letter-spacing: 1px;
}

.input:focus {
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

table {
  border-radius: 10px;
  background-image: linear-gradient(90deg, #fad961 0%, #df6b1c 100%);
  text-align: center;
  min-width: 70%;
  margin: 10px;
  table-layout: auto;
}

#written-by-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 5px;
}

#written-by-container a {
  color: #fff;
}
