@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cols: 4;
}

/* N Cards Container */
.n-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.n-cards-container span {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
}

.n-cards {
  position: relative;
  width: 350px;
  margin: 10px 0;
  padding: 20px 0 20px 20px;
  border: 2px solid #000;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.n-cards::after {
  position: absolute;
  right: 0;
  opacity: 0;
  content: ">";
  font-weight: 600;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.n-cards:hover::after {
  right: 10px;
  opacity: 1;
}

.n-cards:nth-child(4n):hover {
  color: #FFF;
  background-color: #6753FD;
}

.n-cards:nth-child(4n+1):hover {
  color: #FFF;
  background-color: #efc92f;
}

.n-cards:nth-child(4n+2):hover {
  color: #FFF;
  background-color: #fd9753;
}

.n-cards:nth-child(4n+3):hover {
  color: #FFF;
  background-color: #fd53cd;
}

/* Game Container */
.game-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-gap: 10px;
  width: 800px;
  height: 700px;
}
