* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bebebe;
  margin-bottom: 10px;
  padding: 6rem 5rem;
}

#heading {
  font-size: 75px;
}

#counter {
  margin-top: 10px;
  font-size: 60px;
}

#buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  background-color: transparent;
  border: 2px solid #1e1e1e;
  border-radius: 10px;
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: 0.1s all ease;
}

.button:hover {
  color: #fff;
  background-color: #069;
}

.pressed {
  transform: scale(0.9);
}

#or-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
}

#or-container hr {
  width: 50%;
  background-color: #000;
  border: 1px solid #000;
}

#or-container span {
  margin: 0 10px;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
}

tr,
td {
  border: 1px solid #000;
  padding: 5px;
  font-weight: bold;
}

#written-by-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 5px;
}

#written-by-container a {
  color: #000;
}

@media (max-width: 520px) {
  main {
    padding: 6rem 2rem;
  }

  #written-by-container {
    font-size: 13px;
  }
}

@media (max-width: 430px) {
  main {
    padding: 6rem 0.5rem;
  }

  #buttons-container {
    flex-direction: column;
  }

  .button {
    margin-top: 10px;
  }
}
