@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3e3e3e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  padding: 50px;
  border: 2px solid #fff;
  border-radius: 10px;
}

#heading {
  margin-bottom: 10px;
}

#info {
  color: #fff;
}

#info:hover {
  color: rgb(123, 255, 0);
  transition: 1s;
}

#constraints {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.constraints-split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#password-and-copy-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#password {
  color: #000;
  background-color: #fff;
  width: 350px;
  height: fit-content;
  min-height: 50px;
  border: none;
  word-wrap: break-word;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copy {
  margin-left: 10px;
  padding: 3px;
  font-size: 40px;
}

#copy:hover {
  cursor: pointer;
}

#password-length-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#password-length-number {
  width: 2rem;
}

.checkbox {
  width: 15px;
  height: 15px;
}

#button {
  background-color: transparent;
  color: #fff;
  padding: 13px 0;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-top: 10px;
  font-size: large;
  cursor: pointer;
}

#button:hover {
  background-color: #3e3e3e;
}

#written-by-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 30px;
}

#written-by-container a {
  color: #fff;
}

@media (max-width: 520px) {
  main {
    padding: 20px 10px;
  }

  #constraints {
    width: 280px;
  }

  #password {
    font-size: 16px;
  }

  #written-by-container {
    font-size: 13px;
  }
}
