@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body,
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background-color: #1e1e1e;
}

#main {
  color: #fff;
  background-color: #3e3e3e;
  padding: 5rem;
  border: 2px solid #fff;
  border-radius: 10px;
}

#main h1{
  margin-bottom: 10px;
}

input {
  text-align: center;
  outline: none;
}