@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

body {
  min-height: 100vh;
  background-color: #3e3e3e;
}

main {
  background-color: #1e1e1e;
  padding: 3rem;
  border: 2px solid #fff;
  border-radius: 5px;
}

#case-options {
  color: #fff;
  background-color: #3e3e3e;
  margin: 10px 0;
  padding: 2px;
  text-align: center;
  border: 2px solid #fff;
  outline: none;
}

#input-output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input,
#output {
  width: 300px;
  height: 70px;
  margin: 10px 0;
  resize: none;
  outline: none;
}

#written-by-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 5px;
}

#written-by-container a {
  color: #fff;
}

@media (max-width: 440px) {
  main {
    padding: 10px;
  }

  #written-by-container {
    font-size: 12px;
  }
}
